<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
    head
        title - Marko notification demo
        lasso-head
    body
        button id='simple-notification-btn' - Generate Simple Notification
        lasso-body
