div [
    class=[
        'mn-snackbar',
        'transition-' + data.transitionDirection,
        data.initialPosition,
        data.animation
    ]
    w-bind
]
    label class='mn-message'
        - ${data.message}
    button [
        if(data.allowText)
        class='mn-button allow'
        w-onClick='handleAllow'
    ] - ${data.allowText}
    button [
        if(data.denyText)
        class='mn-button deny'
        w-onClick='handleDeny'
    ] - ${data.denyText}
